@import '~akutil-shared-styles/src/colors.less';

@grid: 8;

// Because of the shadow DOM boundries we can not style the host element the usual way
// To do this the ':host' pseudo-class should be used
// Also we should style the tag name with the same styles because of the browsers
// that do not support shadow DOM
.host-styles() {
  display: block;
}

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-comment,
ak-comment {
  .host-styles();

  &:not([defined]) {
    display: none;
  }
}

:host {
  .host-styles();

  &(:not([defined])) {
    display: none;
  }
}

.container {
  display: flex;
  padding: unit(@grid, px) 0;
}
.avatarSlotWrapper {
  align-self: stretch;
  height: 100%;
  padding: 0 unit(@grid, px) 0 0;
  width: 30px; // medium avatar size
}
.content {
  flex: 1 0 auto;
  max-width: ~'calc(100% - 38px)'; // 30px avatar size and the 8px padding
}
.metadata {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.authorSlotWrapper {
  margin-top: unit(@grid * 1.5, px);
  padding: 0 unit(@grid, px) 0 0;
}
.timeSlotWrapper {
  color: @ak-color-N600;
  display: flex;
  flex: 1 0 auto;
  margin-top: unit(@grid * 1.5, px);

  &::before {
    content: "\b7\a0"; // middot character
  }
}
.actionSlotWrapper {
  margin-top: unit(@grid * 1.5, px);
}
.replySlotWrapper {
  margin-top: unit(@grid * 1.5, px);
}
