@import 'shared-variables.less';

.popup {
  background: @ak-editor-popup-background;
  border-radius: @ak-border-radius;
  box-shadow: @ak-editor-popup-box-shadow;
  position: relative;
  height: 20px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-top: 10px;

  &::after {
    @height: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 @height @height @height;
    top: -@height;
    border-color: transparent transparent @ak-editor-popup-background transparent;
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.animateContainer {
  overflow:hidden;
}

.animateContainerInner {
  opacity:0;
}
