@import 'shared-variables.less';

// Because of the shadow DOM boundries we can not style the host element the usual way
// To do this the ':host' pseudo-class should be used
// Also we should style the tag name with the same styles because of the browsers
// that do not support shadow DOM
.host-styles() {
  display: flex;
}

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-tag-group,
ak-tag-group {
  .host-styles();

  > _shadow_root_ {
    width: 100%;
  }

  &:not([defined]) {
    display: none;
  }

}

:host {
  .host-styles();

  &(:not([defined])) {
    display: none;
  }
}

.flex() {
  display: flex;
  flex-wrap: wrap;
}

.endAligned {
  justify-content: flex-end;
}

.flex-item() {
  flex: 0 1 auto;
}

:host .slot-wrapper {
  .flex();
  width: 100%;
}

.slot {
  .flex();
}

.rootNode {
  width: 100%;
}

::content > * {
  .flex-item();
}

::slotted(*) {
  .flex-item();
}

:host([alignment="end"]) .slot-wrapper {
  .endAligned();
}
