@import 'shared-variables.less';

// Because of the shadow DOM boundries we can not style the host element the usual way
// To do this the ':host' pseudo-class should be used
// Also we should style the tag name with the same styles because of the browsers
// that do not support shadow DOM
.host-styles() {
  display: block;
}

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-tabs,
ak-tabs {
  .host-styles();

  &:not([defined]) {
    display: none;
  }
}

:host {
  .host-styles();

  &(:not([defined])) {
    display: none;
  }
}

.ak-tab-labels {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.ak-tab-label,
.ak-tabs-button-container {
  color: @ak-tabs-color-label-default;
  cursor: pointer;
  flex: 0 0 auto; // Prevents labels from shrinking in Safari when the container shrinks.
  font-size: @ak-tabs-font-size;
  line-height: @ak-tabs-line-height;
  padding: @ak-tabs-padding-vertical @ak-tabs-padding-horizontal;
  white-space: nowrap;

  &:hover,
  &:active,
  &:active::before{
    color: @ak-tabs-color-active;
  }

  &:focus {
    border-radius: @ak-border-radius;
    box-shadow: 0 0 0 @ak-tabs-focus-width @ak-tabs-color-focus inset;
    outline: none;
  }

  &.ak-tab-label-hidden {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
}

.ak-tab-label {
  position: relative;

  &.ak-tab-label-single {
    flex-shrink: 1;
    min-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ak-tabs-button-container {
  .ak-tabs-button {
    align-items: center;
    cursor: pointer;
    display: flex;
  }
}

// Tab labels line
.ak-tab-labels:not(:empty)::before,
.ak-tab-label-selected::after {
  background-color: @ak-tabs-color-line-default;
  bottom: 0;
  content: '';
  height: 1px;
  left: @ak-tabs-padding-horizontal;
  margin: 0;
  position: absolute;
  right: @ak-tabs-padding-horizontal;
  width: inherit;
}

.ak-tab-label-selected {
  color: @ak-tabs-color-selected;

  &::after {
    background-color: currentColor;
  }
}

// Dropdown items
.ak-tab-dd-item-hidden {
  display: none;
}
