@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/borders.less';

@ak-tabs-padding-vertical: 5px;
@ak-tabs-padding-horizontal: 10px;
@ak-tabs-margin: @ak-tabs-padding-horizontal / 2;
@ak-tabs-color-label-default: @ak-color-N500;
@ak-tabs-color-line-default: @ak-color-N30;
@ak-tabs-color-selected: @ak-color-B400;
@ak-tabs-color-active: @ak-color-B500;
@ak-tabs-color-hover: @ak-tabs-color-selected;
@ak-tabs-color-focus: @ak-color-B100;
@ak-tabs-focus-width: 2px;
@ak-tabs-line-height: 25px;
@ak-tabs-font-size: 14px;
