@import './shared-variables.less';

// Because of the shadow DOM boundries we can not style the host element the usual way
// To do this the ':host' pseudo-class should be used
// Also we should style the tag name with the same styles because of the browsers
// that do not support shadow DOM
.host-styles() {
  display: block;
}

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-tabs-tab,
ak-tabs-tab {
  .host-styles();

  &:not([defined]) {
    display: none;
  }
}

:host {
  .host-styles();

  &(:not([defined])) {
    display: none;
  }
}

.ak-tab-pane {
  display: block;
  padding: @ak-tabs-margin (2 * @ak-tabs-margin);

  &:not(.selected) {
    display: none;
  }
}
