// These styles will be inserted into a style tag inside
// the shadow dom of each instance of the component

// Only do class selectors in here, anything else leaks to the rest of the page in
// browsers that do not support shadow DOM
@import 'shared-variables.less';
@import "flexbox-mixin.less";
@button-spacing: 4px;

// We simply define our styles like this.
// One variable for the styles applied to the slot and on for the children
@slotStyles: {
    display: inline-flex;
    justify-content: space-between;
};
@childStyles: {
    flex: 1 1 auto;
    margin: 0 @button-spacing/2;
};

// DEFAULT SLOT
// You can also call the default slot. Make sure your slot is wrapped by a div with the class
// of .default-slot-wrapper and the slot has a class of .default-slot-element (And no name obviously)
.slot(@slotStyles, @childStyles);


// Because of the shadow DOM boundries we can not style the host element the usual way
// To do this the ':host' pseudo-class should be used
// Also we should style the tag name with the same styles because of the browsers
// that do not support shadow DOM
.host-styles() {
  display: inline-block;
}

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-button-group,
ak-button-group {
  .host-styles();

  &:not([defined]) {
    display: none;
  }
}

:host {
  .host-styles();

  &(:not([defined])) {
    display: none;
  }
}
