// For styles that are shared between shadow and host (variable definitions ONLY)

@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/borders.less';

@grid: 4;
@lozenge-font-size: 11px;
@lozenge-max-width: 200px;

@lozenge-horizontal-spacing: unit(@grid, px);
@lozenge-font-size: 11px;

@default-bg: @ak-color-N20;
@default-text: @ak-color-N500;
@default-bold-bg: @ak-color-N40;
@default-bold-text: @ak-color-N700;

@success-bg: @ak-color-G50;
@success-text: @ak-color-G500;
@success-bold-bg: @ak-color-G500;
@success-bold-text: white;

@removed-bg: @ak-color-R50;
@removed-text: @ak-color-R500;
@removed-bold-bg: @ak-color-R500;
@removed-bold-text: white;

@inprogress-bg: @ak-color-B50;
@inprogress-text: @ak-color-B500;
@inprogress-bold-bg: @ak-color-B500;
@inprogress-bold-text: white;

@new-bg: @ak-color-P50;
@new-text: @ak-color-P500;
@new-bold-bg: @ak-color-P500;
@new-bold-text: white;

@moved-bg: @ak-color-Y50;
@moved-text: @ak-color-N600;
@moved-bold-bg: @ak-color-Y500;
@moved-bold-text: @ak-color-N600;
