// These styles will be inserted into a style tag inside
// the shadow dom of each instance of the component

// Only do class selectors in here, anything else leaks to the rest of the page in
// browsers that do not support shadow DOM
@import 'shared-variables.less';

.blanket {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.tinted {
  background: @ak-color-N900;
  opacity: 0.5
}

// Because of the shadow DOM boundries we can not style the host element the usual way
// To do this the ':host' pseudo-class should be used
// Also we should style the tag name with the same styles because of the browsers
// that do not support shadow DOM
.host-styles() {
  display: block;
}

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-blanket,
ak-blanket {
  .host-styles();

  &:not([defined]) {
    display: none;
  }
}

:host {
  .host-styles();

  &(:not([defined])) {
    display: none;
  }
}
