@import 'shared-variables.less';

@ak-badge-default-background-color: @ak-color-N30;
@ak-badge-default-text-color: @ak-color-N500;

@ak-badge-primary-background-color: @ak-color-B400;
@ak-badge-primary-text-color: #fff;

@ak-badge-important-background-color: @ak-color-R300;
@ak-badge-important-text-color: #fff;

@ak-badge-added-background-color: @ak-color-G50;
@ak-badge-added-text-color: @ak-color-G500;

@ak-badge-removed-background-color: @ak-color-R50;
@ak-badge-removed-text-color: @ak-color-R500;

// Because of the shadow DOM boundries we can not style the host element the usual way
// To do this the ':host' pseudo-class should be used
// Also we should style the tag name with the same styles because of the browsers
// that do not support shadow DOM
.host-styles() {
  display: inline-block;
}

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-badge,
ak-badge {
  .host-styles();

  &:not([defined]) {
    display: none;
  }
}

:host {
  .host-styles();

  &(:not([defined])) {
    display: none;
  }
}

.container {
  display: inline-block;
}

.value {
  border-radius: 2em;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  min-width: 1px;
  padding: 0.16666666666667em 0.5em;
  text-align: center;
}

.default {
  background: @ak-badge-default-background-color;
  color: @ak-badge-default-text-color;
}

.primary {
  background: @ak-badge-primary-background-color;
  color: @ak-badge-primary-text-color;
}

.important {
  background: @ak-badge-important-background-color;
  color: @ak-badge-important-text-color;
}

.added {
  background: @ak-badge-added-background-color;
  color: @ak-badge-added-text-color;
}

.removed {
  background: @ak-badge-removed-background-color;
  color: @ak-badge-removed-text-color;
}
