@import '../shared-variables.less';

.resize {
  height: 100%;
  right: -6px;
  width: 12px;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  
  &::after {
    content: '';
    width: 2px;
    right: 6px;
    height: 100%;
    position: absolute;
  }
  &:hover:after, &.isDragging:after {
    width: 2px;
    background-color: @ak-color-B200;
  }
}
