@import 'shared-variables.less';

// Because of the shadow DOM boundries we can not style the host element the usual way
// To do this the ':host' pseudo-class should be used
// Also we should style the tag name with the same styles because of the browsers
// that do not support shadow DOM
.host-styles() {
  display: inline-flex;
}

.onlySize(@size) {
  @height: "size-@{size}";
  @width: "size-@{size}";

  .@{size} {
    .icon, .content {
      width: @@width;
      height: @@height;

      & > svg when not(@size=small) {
        width: @@width;
        height: @@height;
      }
    }
  }
}

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-icon,
ak-icon {
  .host-styles();

  & > _shadow_root_ {
    .host-styles();
  }

  &:not([defined]) {
    display: none;
  }
}

:host {
  .host-styles();

  &(:not([defined])) {
    display: none;
  }
}

.icon {
  box-sizing: border-box;
  display: inline-flex;
  line-height: 1;
  vertical-align: baseline;
}

.onlySize(small);
.onlySize(medium);
.onlySize(large);
.onlySize(xlarge);

.content {
  margin: auto;
  display: inline-block;

  & > svg {
    vertical-align: bottom;
  }
}
