@import 'shared-variables.less';
@import 'index.ak-navigation-link.less';

@ak-navigation-global-color: @ak-color-B500;
@ak-navigation-container-color: @ak-color-N20;
@ak-navigation-container-name-color: @ak-color-N500;

@global-primary-item-margin: 25px;
@global-secondary-item-margin: 10px;
@global-secondary-item-size: 30px;
@container-logo-size: 40px;
@container-logo-border-radius: @ak-border-radius;

@font-size: 14px;

// Because of the shadow DOM boundries we can not style the host element the usual way
// To do this the ':host' pseudo-class should be used
// Also we should style the tag name with the same styles because of the browsers
// that do not support shadow DOM
.host-styles() {
  display: inline-block;
  width: 100%;
}

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-navigation,
ak-navigation {
  .host-styles();
  &:not([defined]) {
    display: none;
  }
}

:host {
  .host-styles();

  &(:not([defined])) {
    display: none;
  }
}

.blanket:not(.blanket-active) {
  display: none;
}

.should-animate {
  .spacer, .navigation, .navigation-wrapper {
    transition: width 250ms, transform 250ms;
  }
}

.spacer {
  height: 0;
}

.navigation-wrapper {
  overflow: hidden;
  height: 100%;
  width: @expanded-width;
  top: 0;
  left: 0;
  position: fixed;

  .drawersOpen & {
    overflow: visible;
  }
}

.navigation {
  background-color: @ak-navigation-container-color;
  height: 100%;
  display: flex;

  .global {
    display: flex;
    flex: 0 0 @global-bar-width;
    background-color: @ak-navigation-global-color;
    color: white;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: @global-z-index;

    .global-primary {
      margin: @global-primary-item-margin auto;
      text-align: center;

      a {
        color: currentColor;
      }
    }

    .global-secondary-item {
      &:hover {
        background-color: rgba(0,0,0,0.2);
      }
      &:active {
        background: @ak-color-B50;
      }
      border-radius: 50%;
      line-height: 0;
      width: 30px;
      height: @global-secondary-item-size;
      cursor: pointer;
      margin: 10px auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .global-bottom {
      margin-top: auto;
      width: 100%;
    }
  }

  .container {
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
  }

  .container-hidden {
    display: none;
  }

  .container-logo {
    width: @container-logo-size;
    height: @container-logo-size;
    border-radius: @container-logo-border-radius;
    margin-right: 10px;

    &:not([src]) {
      visibility: hidden;
    }
  }

  .container-name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .container-name-text {
    color: @ak-navigation-container-name-color;
    width: @container-link-text-expanded-width;
    font-size: @font-size;
    line-height: @font-size;
    max-height: @font-size * 2;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .container-links {
    font-size: @font-size;
  }
}

