@import 'shared-variables.less';

// Because of the shadow DOM boundries we can not style the host element the usual way
// To do this the ':host' pseudo-class should be used
// Also we should style the tag name with the same styles because of the browsers
// that do not support shadow DOM
.host-styles() {
  display: block;
  margin-top: unit(@grid * 2, px);
}

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-dropdown-group,
ak-dropdown-group {
  .host-styles();

  &:not([defined]) {
    display: none;
  }
}

:host {
  .host-styles();

  &(:not([defined])) {
    display: none;
  }
}

.group {
  box-sizing: border-box;
  display: block;
}

.heading {
  color: @ak-dropdown-font-heading-color;
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  margin: 0;
  padding:unit(@grid * 2, px) unit(@grid * 3, px);
  text-transform: uppercase;
}
