@ring-size: 200px;

.ring {
  display: 'flex';
  flex-direction: 'column';

  width: @ring-size;
  height: @ring-size;

  .topLeft {
    transform: rotate(180deg);
  }

  .topRight {
    transform: rotate(-90deg);
  }

  .bottomLeft {
    transform: rotate(90deg);
  }

  .bottomRight {
    transform: rotate(0deg);
  }

  .topHalf, .bottomHalf {
    display: flex;
  }

}
