// These styles will be inserted into a style tag inside
// the shadow dom of each instance of the component
@import '../shared-variables.less';

.list {
  width: 340px;
  color: #333;
}

.empty {
  display: none;
}

.scrollable {
  background: white;
  max-height: 264px;

  border: 1px solid #fff;
  border-radius: @ak-border-radius;
}

// FIXME: workaround host.less not in shadow dom
pf-mention-item {
  display: block;

  &:not([defined]) {
    display: none;
  }
}

pf-scrollable {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;

  padding: 0;
  margin: 0;

  &:not([defined]) {
    display: none;
  }
}

.mention-error {
  background-color: #344563;
  color: #9ba4b3;

  height: 264px;

  img {
    opacity: .5;
    padding-top: 70px;
  }

  p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
  }
}
