@import '~akutil-shared-styles/src/mixins/select-slot-children.less';

@navigation-z-index: 2;
@content-z-index: 1;
@navigation-padding: 32px;

// Because of the shadow DOM boundries we can not style the host element the usual way
// To do this the ':host' pseudo-class should be used
// Also we should style the tag name with the same styles because of the browsers
// that do not support shadow DOM
.host-styles() {
  display: inline-block;
  width: 100%;
}

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-page,
ak-page {
  .host-styles();

  &:not([defined]) {
    display: none;
  }
}

:host {
  .host-styles();

  &(:not([defined])) {
    display: none;
  }
}

.page {
  display: flex;
}

.navigation {
  top: 0;
  left: 0;
  z-index: @navigation-z-index;
  margin-right: @navigation-padding;
}

.main-outer {
  width: 100%;
  z-index: @content-z-index;

  .main-inner {
    max-width: 1280px;
    margin: auto;

    &.fluid {
      max-width: 100%;
    }
  }
}
@main-slot-direct-children: {
  position: relative;
  z-index: @content-z-index;
};
@navigation-slot-direct-children: {
  position: relative;
  z-index: @navigation-z-index;
};
.select-slot-children('main-slot', @main-slot-direct-children);
.select-slot-children('navigation', 'navigation-slot', @navigation-slot-direct-children);
.resizing {
  user-select: none;
}
