@import '~ak-editor-shared-styles/src/index';

.root {
  border: 1px solid @ak-editor-subtle-accent;
  box-sizing: border-box;
  border-top-left-radius: @ak-border-radius;
  border-top-right-radius: @ak-border-radius;
  height: 40px;

  &, & > slot {
    display: flex;
    align-items: center;
  }

  .slottedEditorButton() { margin-left: 10px; }
  > slot > * { .slottedEditorButton(); }
  > ::content > * { .slottedEditorButton(); }
  > ::slotted(*) { .slottedEditorButton(); }
}
