@import 'shared-variables.less';

// Because of the shadow DOM boundries we can not style the host element the usual way
// To do this the ':host' pseudo-class should be used
// Also we should style the tag name with the same styles because of the browsers
// that do not support shadow DOM
.host-styles() {
  display: none;
}

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-inline-dialog,
ak-inline-dialog {
  .host-styles();

  &[open] {
    display:block;
  }
}

:host {
  .host-styles();

  &([open]) {
    display:block;
  }
}

.inlineDialogContainer {
  background: @ak-panel-bg-color;
  border: 1px solid @ak-inline-dialog-border-color;
  border-radius: @ak-inline-dialog-border-radius;
  box-shadow: @ak-inline-dialog-box-shadow;
  padding: @ak-inline-dialog-content-padding;
}

.animateContainer {
  overflow:hidden;
}

.animateContainerInner {
  opacity:0;
}
