@import './shared-variables.less';

@base-horizontal-padding: @grid * 2;
@base-height: @grid * 10;

@base-font-size: 14;
@base-inner-height: @grid * 5;
@base-line-height: @base-inner-height / @base-font-size;

@base-border-radius: 3px;
@base-border-width: 1;
@base-border-width-focused: 2;
@base-border-color: @ak-color-N20;
@base-border-color-focused: @ak-color-B100;
@base-border-color-invalid: @ak-color-B100;

@base-background-color:  @ak-color-N10A;
@base-background-color-focused:  white;

// Mixin to redistribute spacing between border and padding
.borders-and-padding (@border, @x-spacing, @height) {
  border-width: unit(@border, px);
  padding: unit((@height - (2 * @border) - @base-inner-height) / 2, px) unit((@x-spacing - @border), px);
}


.slot-wrapper {
  .borders-and-padding(@base-border-width, @base-horizontal-padding, @base-height);
  flex: 1 0 auto;
  box-sizing: border-box;

  border-style: solid;
  border-radius: @base-border-radius;
  border-color: @base-border-color;
  background-color: @base-background-color;

  line-height: @base-line-height;
  font-size: unit(@base-font-size, px);

  min-height: unit(@base-inner-height, px);
  max-width: 100%;
  word-wrap: break-word;

  // note: .focused not :focus as CSS wont know that slotted content is focused
  &.focused {
    .borders-and-padding(@base-border-width-focused, @base-horizontal-padding, @base-height);
    border-color: @base-border-color-focused;
    background-color: @base-background-color-focused;
  }

  &.invalid {
    // we run this mixin so that we get a border the same thickness as the focus style
    .borders-and-padding(@base-border-width-focused, @base-horizontal-padding, @base-height);
    border-color: @ak-color-R300;
  }
}
